.splashContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

