.splashContainer {
  position: fixed;
  inset: 0;
  height: 100dvh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  overflow: hidden;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

