.splashContainer {
  position: fixed;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  overflow: hidden;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

